{% if page.registration or page.extraction_protocol or page.number_of_studies or page.sample_size or page.age or
page.author_profile or layout.author_profile or page.sidebar or page.pi or page.funding or page.website %}
<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}

  {% if page.number_of_studies or page.funding or page.website or page.publications or page.institution %}
  <div class="sidebar-section">
    <h3>Details</h3>
    <ul style="list-style: none; padding-left: 0;">
      {% if page.pi %}<li><strong>Principal Investigator:</strong> {{ page.pi }}</li>{% endif %}
      {% if page.institution %}<li><strong>Institution:</strong> {{ page.institution }}</li>{% endif %}
      {% if page.site %}<li><strong>Site:</strong> {{ page.site }}</li>{% endif %}
      {% if page.funding %}<li><strong>Funding:</strong> {{ page.funding }}</li>{% endif %}
      {% if page.website and page.website != "n/a" %}<li><strong>Website:</strong> <a href="{{ page.website }}"
          target="_blank" rel="noopener noreferrer">{{ page.website }}</a></li>{% endif %}
      {% if page.publications and page.publications != "n/a" %}<li><strong>Publications:</strong> <a
          href="{{ page.publications }}" target="_blank" rel="noopener noreferrer">View Publications</a></li>{% endif %}
      {% if page.number_of_studies %}<li><strong>Number of Studies:</strong> {{ page.number_of_studies }}</li>{% endif
      %}
      {% if page.sample_size %}<li><strong>Sample Size:</strong> {{ page.sample_size }}</li>{% endif %}
      {% if page.age %}<li><strong>Average Age:</strong> {{ page.age }}</li>{% endif %}
      {% if page.last_search_date %}<li><strong>Last Search Date:</strong> {{ page.last_search_date }}</li>{% endif %}
    </ul>
  </div>
  {% endif %}

  {% if page.registration or page.extraction_protocol %}
  <div class="sidebar-section">
    <h3>Documentation</h3>
    <ul style="list-style: none; padding-left: 0;">
      <!-- <li><a href="{{ '/docs/team/' | relative_url }}">Meet the Team</a></li> -->
      <!-- <li><a href="{{ '/docs/community/publications/' | relative_url }}">Publications</a></li> -->
      {% if page.registration and page.registration != "n/a" %}<li><strong>Registration:</strong> <a
          href="{{ page.registration }}" target="_blank" rel="noopener noreferrer">View Registration</a></li>{%
      endif %}
      {% if page.search_terms %}<li><strong>Search Terms:</strong> <a href="{{ page.search_terms }}" target="_blank"
          rel="noopener noreferrer">View Search Terms</a></li>{% endif %}
      {% if page.extraction_protocol %}<li><strong>Extraction Protocol:</strong> <a
          href="{{ page.extraction_protocol }}" target="_blank" rel="noopener noreferrer">View Extraction
          Protocol</a></li>{% endif %}
      {% if page.reproducibility_guide %}<li><strong>Reproducibility Guide:</strong> <a
          href="{{ page.reproducibility_guide }}" target="_blank" rel="noopener noreferrer">View Reproducibility
          Guide</a></li>{% endif %}
      {% if page.metapsy_dashboard %}<li><strong>Metapsy Dashboard:</strong> <a href="{{ page.metapsy_dashboard }}"
          target="_blank" rel="noopener noreferrer">View Metapsy Dashboard</a></li>{%
      endif %}
      {% if page.preprint %}<li><strong>Preprint:</strong> <a href="{{ page.preprint }}" target="_blank"
          rel="noopener noreferrer">View Preprint</a></li>{% endif %}
    </ul>
  </div>
  {% endif %}

  {% if page.metapsy_repo or page.metapsy_dashboard %}
  <div class="sidebar-section">
    <h3>Data</h3>
    <ul style="list-style: none; padding-left: 0;">
      <!-- <li><a href="{{ '/docs/team/' | relative_url }}">Meet the Team</a></li> -->
      <!-- <li><a href="{{ '/docs/community/publications/' | relative_url }}">Publications</a></li> -->
      {% if page.metapsy_repo %}<li><strong>Metapsy Repository:</strong> <a href="{{ page.metapsy_repo }}"
          target="_blank" rel="noopener noreferrer">View Metapsy Repository</a></li>{%
      endif %}
      {% if page.metapsy_dashboard %}<li><strong>Metapsy Dashboard:</strong> <a href="{{ page.metapsy_dashboard }}"
          target="_blank" rel="noopener noreferrer">View Metapsy Dashboard</a></li>{%
      endif %}
    </ul>
  </div>
  {% endif %}
  {% if page.sidebar %}
  {% for s in page.sidebar %}
  {% if s.image %}
  <img src="{{ s.image | relative_url }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}"
    style="padding-top: 1em;">
  {% endif %}
  {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
  {% if s.text %}{{ s.text | markdownify }}{% endif %}
  {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
  {% endfor %}
  {% if page.sidebar.nav %}
  {% include nav_list nav=page.sidebar.nav %}
  {% endif %}
  {% endif %}

</div>
{% endif %}